@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

@import url('https://fonts.cdnfonts.com/css/inter');
*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    

    .top{
        /* background-color: rgb(16,51,156); */
        background: linear-gradient(180deg, rgba(9,33,118,1) 0%, rgba(18,72,212,1) 35%);
        padding-bottom: 20px;
    }
    .top .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 28px 32px;
    }
    .top .nav p{
        color: #fff;
    }
    .top .card{
        background-color: #29985c;
        padding: 20px 32px; 
        margin: 32px;
        color: #fff;
        border-radius: 10px;
    }
    .top .card .currentAccount{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
    }
    .top .card .currentAccount button{
        padding: 4px 8px;
    }
    .top .card input{
        margin-top: 36px;
        margin-bottom:10px;
        background: transparent;
        border: 0;
    }
    .top .card .balance{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding-top: 24px; */
        
    }
    .card p{
        padding-bottom: 32px;
    }
    .bal{
        display: block;
        color: #fff;
        
    }
    
    .transactions{
        background-color: #fff;
        padding: 32px;
    }
    .transactions .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 32px;
    }
    .transactions .title button{
        padding: 4px 10px;
        border: 1px solid #29985c;
        border-radius: 8px;
        background-color: aliceblue;
    }
    .transactions .transactioncontainer{
        display: grid;
        grid-template-columns: repeat(8,1fr);
        gap: 16px;
    }
    .transactions .transactioncontainer a{
        color: #000;
        text-decoration:none ;
        
        
    }

    .transactions .transactioncard{
        background-color: aliceblue;
        padding: 32px ;
        text-align: center;
        height: 110px;
        align-items: center; 
    }

    .features{
        padding: 20px 32px 0px 32px;
    }
    .features .featuresbanner{
        background-color: rgb(11, 185, 185);
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        padding: 36px 32px;
        color: #fff;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 32px;
        background-color: whitesmoke;
        position: sticky;
        bottom: 0;
        

    }
    .footer .navbar{
        text-align: center;
    }
    .footer .navbar a{
        text-decoration: none;
        color: #000;
    }

@media screen and (max-width:540px){
   
    .transactions .transactioncontainer{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 8px;
    }
    .transactions .transactioncard{
        background-color: aliceblue;
        padding: 16px ;
        text-align: center;
        height: 68px;
        align-items: center; 
        font-size: x-small;
    }
    
    .top .nav p{
        
        font-size: small;
    }
    .top .card{
        padding: 22px 20px; 
        font-size: smaller;
    }
    .transactions .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 2px;
    }
    .transactions .title button{
        padding: 4px 10px;
        border: 1px solid #29985c;
        border-radius: 8px;
        background-color: aliceblue;
    }
    .footer .navbar{
       
        font-size: x-small;
    }
    .features p{
        padding-bottom: 32px;
        padding-top: 32px;
    } 
    .transactions{
       
        padding: 16px;
    }
    .features{
        padding: 20px 16px 0px 16px;
    }
    .features p {
        padding-bottom: 20px;
        padding-top: 0px;
        font-size: small;
        line-height: 1rem;
        font-weight: bold;
    }
    
    
}

@media screen and (max-width:280px){
   
    .transactions .transactioncontainer{
        
        grid-template-columns: repeat(4,1fr);
        gap: 6px;
    }
    .transactions .transactioncard{
        padding: 8px ;
        height: 48px;
        font-size: xx-small;
    }
    .top .nav{
        padding: 28px 22px;
    }
    .top .nav p{
        
        font-size: xx-small;
    }
    .top .card {
        padding: 18px 16px;
        font-size: x-small;
        margin: 20px;
}
}
.top .card .currentAccount button{
   font-size: xx-small;
}
.footer .navbar{
    font-size: xx-small;
}
.features p {
    padding-bottom: 20px;
    padding-top: 0px;
    font-size: x-small;
    line-height: 1rem;
    font-weight: bold;
}
.features .featuresbanner{
    padding: 30px 32px;

} 
}

@media screen and (max-width:1024px){
   
    .transactions .transactioncontainer{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 8px;
    }
    .transactions .transactioncard{
        padding: 16px ;
        height: 88px;
        font-size: x-small;
    }
}